<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 4px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */

</style>
<div class="card">
    <div class="container1">
       <button button class="button button2" type="button">
         <span>Logout!</span>
       </button>
     </div>
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Posts</span>
      <%= link_to 'New Post', new_project_path, class: 'btn btn-primary' %>
    </h2>

    <% @projects.each do |project| %>
      <%= link_to project, class: 'text-decoration-none' do %>
        <div class="card project-card mb-3">
          <div class="card-body">
            <div class="mb-3">

            </div>
            <h5 class='card-title text-dark'><b><%= project.name %></b></h5>
            <p class='text-secondary'><%= project.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

